body{
    margin: 0;
    width: auto;
}

header{
    width: 100%;
    height: 967px;
    background-image: url(./images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

li{
    font-family: 'Open Sans', sans-serif; 
}

.header{
    width: 1160px;
    height: 68px;
    padding: 20px 80px 5px 140px;
    display: flex;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
}

p{
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    line-height: 34px;
}



.contant{
    width: 194px;
    height: 28px;
    padding-right: 20px;
    display: flex;
}

.contact-text{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;
    margin: 0;
}

.contact-logo{
    background: #F4AB00;
    max-width: 28px;
    max-height: 28px;
    padding: 7px;
    margin-right: 10px;
}

.logo{
    width: 11px;
    height: 11px;
}

.img-contact-logo{
    padding-right: 17px;
    width: 15px;
    height: 16px;
    
}

.contact-logotip{
    margin-left: 500px;
    margin-top: 10px;
}

/* секция навигация*/

.nav{
    width: 1055px;
    height: 65px;
    background-color: #FFFFFF;
    padding: 41px 15px 37px;
    margin-right: 140px;
    margin-left: 140px;
    border-radius: 1em;
    display: flex;
}
.logo-seo{
    width: 84px;
    height: 15px;
    margin-top: 20px;
    margin-right: 180px;
}
.button{
    background: #F4AB00;
    border-radius: 32px;
    border: none;
    width: 100px;
    height: 41px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.button:hover{
    box-shadow: 1px 1px 3px 3px rgb(194, 112, 11);
}

.button-nav{
    margin-left: 70px;
}
.button-text{
    width: 47px;
    height: 19px;
    left: calc(50% - 47px/2 + 0.5px);
    top: 11px;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.ul-nav{
    display: flex;
    list-style-type: none;
}

.li{
    margin-right: 30px;
}

.li:hover{
    color: #F4AB00;
    cursor: pointer;
}

.header-container{
    display: flex;
    width: 1335px;
    margin-top: 75px;
    margin-left: 130px;
}

.marketing{
    max-width: 670px;
    max-height: 530px;
}

.description{
    width: 500px;
}

.seo-text{
    color: #FFFFFF;
    font-size: 18px;
}

h1{
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
}

.h1{
    color: #F4AB00;
}

.seo-button{
    width: 180px;
    height: 52px;
    margin-top: 25px;
}

.img-border{
    width: 100%;
    margin-top: 150px;
    position: relative;
}

/* block - agency*/

.agency{
    width: 1160px;
    height: 418px;
    background: #FFFFFF;
    box-shadow: 9px 9px 35px rgba(56, 11, 113, 0.1);
    border-radius: 10px;
    padding: 100px 80px;
    display: flex;
    margin: -90px 140px 0px;
    position: absolute;
}

.text-agency, .icon-agency{
    width: 500px;
    height: 318px;
    margin-right: 20px;
}

.block-one-agency, .block-two-agency{
    display: flex;
}

.yellow-text{
    font-size: 19px;
    color: #F4AB00;
}

.building{
    color: #2C1258;
    font-size: 42px;
    line-height: 56px;
}

.market{
    font-size: 18px;
    line-height: 34px;
    color: #604B83;
}

.block-one-two{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

h6{
    font-size: 19px;
    line-height: 30px;
    color: #2C1258;
    margin: 10px;
}

.agency-text-duble{
    font-size: 15px;
    line-height: 28px;
    color: #604B83;
}

.icon-for-agency{
    width: 86px;
    height: 86px;
    margin-top: 40px;
}

/* block result*/

.result{
    margin: 650px 140px;
    width: 1335px;
    max-height: 1350px;
    position: absolute;
}

.result-text{
    width: 510px;
}

.result-one, .result-two{
    display: flex;
    padding: 10px;
    width: 1160px;
    height: 600px;
    margin-bottom: 150px;
}

.h6{
    font-size: 20px;
    line-height: 30px;
    color: #F4AB00;
}

h3{
    font-size: 42px;
    line-height: 56px;
    color: #2C1258;
    margin: 2px;
}
.result-list{
    list-style-image: url(./logo/list.svg);
    -webkit-column-count: 2;
}
.res-list{
    color: #2C1258;
    font-size: 16px;
    line-height: 28px;
    line-height: 2.4;
}

.res-double-text{
    font-size: 18px;
    line-height: 34px;
    color: #604B83;
    font-family: 'Nunito';
    font-style: normal;
}

.laptop{
    max-width: 552px;
    max-height: 559px;
    margin-right: 50px;
}

.diagram{
    max-width: 550px;
    max-height: 490px;
    margin-left: 30px;
}

.statist{
    display: flex;
}

.statist-one, .statist-two{
    width: 203px;
    height: 64px;
    background: #F6F1FF;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    margin-right: 25px;
}

.static{
    font-size: 28px;
    line-height: 36px;
    color: #2C1258; 
    margin: 0 20px;   
}

.statiic-description{
    font-size: 15px;
    line-height: 28px;
    color: #2C1258;
    margin: 0 20px;
}

.static-icon{
    width: 64px;
    height: 64px;
}

.border-top{
    margin-top: 2000px;
    width: 100%;
}

/* block optimization*/

.optimization{
    width: 100%;
    height: 870px;
    background-color: #6425CB;
    margin-top: -5px;
    display: flex;
}

.opti-one{
   margin: 200px 0 100px 140px;
}

.opti-two{
    margin: 100px 140px 100px 110px;
}

.opti-two{
    display: flex;
}

.opti-description{
    margin: 0;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
}

.opti-text{
    font-size: 18px;
    line-height: 34px;
    color: #FFFFFF;
}

.opti-button{
    width: 186px;
    height: 52px;
    margin-top: 10px;
}

span{
    color: #FFFFFF;
}

.opti-card{
    background-color: #fff;
    width: 250px;
    height: 220px;
    padding: 35px 35px 50px;
    margin: 30px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.card-left{
    margin-top: -30px;
}

.opti-icon{
    max-width: 48px;
    max-height: 48px;
}

.card-name{
    font-size: 20px;
    line-height: 30px;
    color: #2C1258;
}

.card-text{
    font-size: 16px;
    line-height: 28px;
    color: #604B83;
}

.border-botton{
    width: 100%;
}

/* block servies*/

.servis{
    width: 1335px;
    height: 800px;
    margin: 50px 140px 50px;
}

.our-servise{
    width: 580px;
    height: 480px;
}

.name-servise{
    font-size: 42px;
    line-height: 56px;
    text-align: center;    
    color: #2C1258;
    margin: 0;
    width: 100%;
}

.servise-cards{
    display: flex;
}

.ser-card{
    width: 145px;
    height: 80px;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.05);
    padding: 25px 20px;
    text-align: center;
    margin: 30px;
}

.ser-card:hover{
    background: #F4AB00;
    text-decoration: white;
}

.servise-icon{
    margin-left: 10px;
}

.card-servise-text{
    font-size: 16px;
    line-height: 16px;
    color: #2C1258;
}


.name-desc{
    font-size: 34px;
    line-height: 54px;
    color: #2C1258;
}

.name-desc-text{
    font-size: 18px;
    line-height: 34px;
    color: #604B83;
}

.servise-description{
    display: flex;
    margin-top: 50px;
}

.servise-ul{
    list-style-image: url(./logo/click.svg);
}

.servise-li{
    font-size: 14px;
    line-height: 28px;
    color: #2C1258;
    line-height: 2.4;
}

.servise-button{
    width: 186px;
    height: 52px;
    margin-top: 20px;
}

.serv-but-name{
    color: #fff;
}

.orange{
    width: 25px; 
    height: 25px; 
    background: #F4AB00;
}